{% load staticfiles %}<!DOCTYPE html>
<html>
<head>
  <title>CI Dashboard</title>
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
        integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

  <!-- Optional theme -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css"
        integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

  <!-- Latest compiled and minified JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"
          integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS"
          crossorigin="anonymous"></script>
</head>
<body>
<div class="container-fluid main">
  <div class="row">
    {% for ci in cis %}
      <div class="col-md-3">
        <div class="panel panel-success">
          <div class="panel-heading">{{ ci.name }}</div>
          <div class="panel-body">

            <div class="list-group">{% for j, s in ci.jobs.success %}
              <div style="display: inline" class="list-group-item">
                <span class="glyphicon glyphicon-ok text-success" aria-hidden="true"></span></div>
            {% endfor %}</div>

            <div class="list-group">{% for j, s in ci.jobs.fail %}
              <div class="list-group-item">{{ j }}
                <a href="#" class="glyphicon glyphicon-new-window"></a>
              </div>
            {% endfor %}</div>
          </div>
        </div>
      </div>
      {% if forloop.counter|divisibleby: 4 %}</div><div class="row">{% endif %}
    {% endfor %}
  </div>
</div>
</body>
</html>
